name.basics.tsv
title.basics.tsv
title.akas.tsv
title.crew.tsv
title.ratings.tsv
*config.py
*.ini
alert/__pycache__
__pycache__/*
__pycache__
.cache
Readme.txt
spotmovie.7z
spotmovie.Codezip.7z
spotmovieCode.zip